node_modules
**/node_modules

dist
build
coverage
*.log

.DS_Store
Thumbs.db

.env
.env.local
.env.*.local

backend/.env
web/.env

.vscode/settings.json

.vercel
docker-data
mongo-data

*.pem
*.key
*.crt
*.p12
*.jks
*.keystore
*.b64.txt
