/mobile/node_modules
/mobile/.expo
/mobile/expo-start.log
/mobile/.env
/mobile/.env.local
/functions/node_modules
/node_modules
/salon-app-54d7b-firebase-adminsdk-fbsvc-74c9366290.json
/web/node_modules
